@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: outfit;
}

.active hr{
    @apply block
}
::-webkit-scrollbar{
    @apply hidden
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.scroller-inner {
    display: flex;
    gap: 1rem;
    animation: scroll 20s linear infinite;
}

.scroller {
    display: flex;
    overflow: hidden;
    width: 100%;
}